@import 'settings';

:host {
  display: flex;
  flex-direction: row;
  gap: $size-2;
  align-items: flex-end;
  width: 100%;

  &.is-user {
    justify-content: flex-end;

    .chat-message {
      border-bottom-left-radius: 0;
      background: var(--color-primary-200);
      border-bottom-right-radius: 0;
      align-self: flex-end;
    }
  }

  &.is-system {
    justify-content: center;
    font-size: 12px;

    .chat-message {
      background-color: var(--color-transparent);
      color: var(--color-grey-400);
      align-self: center;
      text-align: center;
    }
  }

  &.is-assistant .chat-message {
    border-bottom-left-radius: 0;
  }
}

.chat-message {
  position: relative;
  background: var(--color-grey-200);
  border-radius: var(--border-radius-medium);
  display: inline-flex;
  flex-direction: column;
  padding: $size-3 $size-4;
  width: fit-content;
  max-width: 80%;
  z-index: 1;
}

.chat-message__file {
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  margin-top: $size-2;
  padding-top: $size-2;
  font-size: 11px;
}
