@if (message) {
  @if (message.role === 'assistant') {
    <ai-chat-avatar></ai-chat-avatar>
  }

  <div class="chat-message">
    @if (message | messageText) {
      <span markdown [data]="message | messageText"></span>
    }

    @if ((message | messageImageFile).length) {
      <div class="chat-message__file">
        @for (
          image of message | messageImageFile;
          track image.image_file.file_id
        ) {
          <div>File ID: {{ image.image_file.file_id }}</div>
        }
      </div>
    }
  </div>
}
