@if (message) {
  @if (message.role === 'assistant') {
    <ai-chat-avatar></ai-chat-avatar>
  }

  <div class="chat-message">
    @for (msg of message.content; track $index) {
      @if (msg.type === 'text') {
        <span markdown [data]="msg | annotation"></span>
      }
      <ai-chat-annotations [message]="msg" />
    }

    @if ((message | messageImageFile).length) {
      <div class="chat-message__file">
        @for (
          image of message | messageImageFile;
          track image.image_file.file_id
        ) {
          <div>File ID: {{ image.image_file.file_id }}</div>
        }
      </div>
    }
  </div>
}
