:host {
  display: flex;
  height: 100vh;
  max-height: 600px;
  background-color: var(--color-white);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);

  &.chat-home__iframe .chat__content,
  &.chat-home__iframe ::ng-deep .messages {
    min-height: 280px;
    height: calc(100vh - 300px);
    max-height: 500px;
    overflow: auto;
  }
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat__content {
  flex: 1 1 100%;
}
