@import 'settings';

@import '_settings/colors';
@import '_settings/animations';
@import '_settings/shadow';
@import '_settings/borders';

@import '_extends/material';

html,
body {
  min-height: 100dvh;
}

body {
  min-height: 100dvh;
  margin: 0;
  background-color: #f5f7fa;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: var(--color-grey-900);
  font-size: 12px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
