@import 'settings';

:host {
  display: flex;
  flex-direction: column;
  gap: $size-2;
  max-width: 650px;
  font-size: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  color: var(--color-grey-500);
}

p.paragraph {
  margin-bottom: 20px;
}

h1 {
  color: var(--color-grey-600);
}

h2 {
  color: var(--color-grey-600);
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}
