<h1>
  Integrating Chatbot into Your Website
</h1>

<p class="paragraph">
  Enhance your website's interactivity and user engagement by seamlessly integrating our chatbot. Follow the simple steps below to implement the chatbot into your website:
</p>

<h2>
  Step 1: Locate Your HTML File
</h2>

<p class="paragraph">
Identify the HTML file where you wish to add the chatbot. This will typically be in the root directory of your website or within a specific subdirectory if you aim to integrate the chatbot on a particular page.
</p>

<h2>
  Step 2: Copy the Chatbot Integration Code
</h2>

<p class="paragraph">
  Below is the chatbot integration code snippet. This piece of code is designed to be lightweight and compatible with most web environments, ensuring a smooth integration process.
  <markdown [data]="markdown"></markdown>
</p>


<h2>
  Step 3: Paste the Code into Your HTML File
</h2>
<p class="paragraph">
  Open your HTML file using a text editor of your choice. Scroll to the part of the file where you want the chatbot to appear. It's recommended to place the code just before the closing body tag to ensure the chatbot loads after all other content on your page, improving the page load time.<br><br>
  Paste the copied code snippet into the file at the chosen location.
</p>

