<div
  class="chat-files"
  aiDragNDrop
  (click)="input.click()"
  (drop$)="addFiles($event)"
  [files]="files()"
>
  <mat-icon class="chat-files__icon">attach_file</mat-icon>

  @if (files().length) {
    <span class="chat-files__counter" (click)="clear($event)">
      <span class="chat-files__counter-number">
        {{ files().length }}
      </span>
      <mat-icon class="chat-files__clear">
        close
      </mat-icon>
    </span>
  }

  <input
    class="chat-files__input"
    type="file"
    (change)="onFileChange($event)"
    multiple
    #input
  >
</div>
