@import 'settings';

:host {
  display: flex;
  flex-direction: column;
  gap: $size-2;
  max-width: 680px;
  font-size: 15px;
  margin: 0 auto;
  padding: 40px 10px;
  color: var(--color-grey-500);
}

.section {
  margin-bottom: 20px;
}

p.paragraph {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  color: var(--color-grey-600);
}

h2 {
  color: var(--color-grey-600);
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}
