:root {
  --color-transparent: rgba(0, 0, 0, 0);
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-900: #2a2a2a;
  --color-grey-600: #464646;
  --color-grey-500: #656565;
  --color-grey-400: #a1a09f;
  --color-grey-300: #e0e0e0;
  --color-grey-200: #f2f2f2;

  --color-blue-500: #546874;

  --color-primary-200: #fae4cb;
  --color-primary-500: #a8875c;

  --color-red-500: #e83333;

  --color-green-500: #2ad82e;
}
