:root {
  --shadow-light: rgba(6, 6, 12, 0.05) 0 2px 14px,
    rgba(6, 6, 12, 0.05) 0 4px 32px;
  --shadow-default: rgba(17, 17, 26, 0.1) 0 4px 16px,
    rgba(17, 17, 26, 0.1) 0 8px 32px;
  --shadow-default-hover: rgb(17, 17, 26, 0.3) 0 4px 26px,
    rgb(17, 17, 26, 0.1) 0 8px 32px;
}
