:root {
  --shadow-default: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 32px;
  --shadow-default-hover: rgb(17, 17, 26, .3) 0 4px 26px, rgb(17, 17, 26, 0.1) 0 8px 32px;
  --shadow-strong: rgba(17, 17, 26, .5) 0 6px 12px, rgba(17, 17, 26, .2) 0 6px 16px;
}
