.chat-recorder {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #f5f5f5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #ececec;
  }

  &.is-active {
    background-color: #000;

    .chat-recorder__circle {
      display: block;
      background-color: #e83333;
      animation: ease pulse 1.5s infinite;
    }

    .chat-recorder__icon {
      color: #ffffff;
    }
  }
}

.chat-recorder__icon {
  z-index: 1;
}

.chat-recorder__circle {
  display: none;
  position: absolute;
  z-index: 0;
  background-color: #e83333;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: red;
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    background-color: red;
    transform: scale(1);
  }
}
