:host {
  max-width: 600px;
  margin-top: 10px;
  color: var(--color-grey-600);
  font-size: 15px;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
}

.chat-home__examples {
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}

.chat-home__list {
  text-align: left;
  margin-left: 12px;

  > li {
    padding-left: 8px;
  }
}
