<ai-card-footer>
  <ai-controls>
    @if (isTranscriptionEnabled) {
      <ai-recorder
        (send$)="sendAudio$.emit($event)"
        [isDisabled]="isDisabled"
        [matTooltip]="!isDisabled ? 'Record audio' : ''" />
    }
    @if (isAttachmentEnabled) {
      <ai-files
        [matTooltip]="!isDisabled ? 'Add files' : ''"
        [isDisabled]="isDisabled" />
    }
    @if (isImageContentEnabled) {
      <ai-message-content
        [matTooltip]="!isDisabled ? 'Add images' : ''"
        [isDisabled]="isDisabled" />
    }
  </ai-controls>

  <ai-input
    (send$)="!isDisabled && sendMessage$.emit($event)"
    [isDisabled]="isDisabled" />
</ai-card-footer>
