<ai-card class="chat">
  <ai-chat-header
    [isRefreshEnabled]="isRefreshEnabled && !!threadId()"
    [isConfigEnabled]="isConfigEnabled && !!threadId()"
    (refresh$)="chatService.refresh()"
    (close$)="chatService.toggle()"
    (config$)="chatService.clear()"
  ></ai-chat-header>

  @if (isConfigEnabled && !threadId()) {
    <ai-configuration-form class="chat__content" />
  } @else {
    <ai-chat-messages
      [messages]="messages()"
      [isLoading]="isLoading()"
      [tips]="tips"
      (tipSelected$)="chatService.sendMessage($event)"
      class="chat__content"
    />
    <ai-chat-footer
      [isDisabled]="isLoading()"
      [isTranscriptionEnabled]="isTranscriptionEnabled"
      [isAttachmentEnabled]="isAttachmentEnabled"
      (sendMessage$)="chatService.sendMessage($event)"
      (sendAudio$)="chatService.sendAudio($event)"
    />
  }
</ai-card>
