@import 'settings';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  font-size: 16px;
}

.chat__logo {
  width: 100%;
  max-width: 260px;
  margin-bottom: 60px;
  cursor: pointer;
}

.chat__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;

  @include min-screen($tablet) {
    gap: 24px;
  }
}

.chat__link,
.chat__link:visited {
  color: var(--color-grey-600);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-500);
  }
}
